<h2> projects </h2>
{{#each model as |project|}}
  {{project}}
   <!-- <div class="modal fade home-modal" id="{{person.identifier}}">
      {{#b-modal}}
        <div class="home-modal-header">
          <img src="{{person.image}}">
          <h3>{{person.name}}</h3>
          <p class="person-title">{{person.title}}</p>
        </div><br><br>
        <p>{{person.bio}}</p><br>
        <p>{{fa-icon "envelope"}}{{person.email}}</p>
        <p>{{fa-icon "phone"}}{{person.phone}}</p>
      {{/b-modal}}
   </div> -->
{{/each}}
