<section class="container">
  <header class="header" role="banner">
    {{#link-to 'home'}}
      <img class="logo" src="images/muro-logo-black.png">
    {{/link-to}}
    <div class="menu-container"{{action 'hideMenu' on='mouseLeave'}}>
      <a class="menu-trigger" {{action 'toggleMenu' on='click'}}>
        <span class="line {{if isShowingMenu 'scape'}}"></span>
      </a>
        <div class="menu {{if isShowingMenu 'active'}}">
          {{#link-to 'projects'}}WORK{{/link-to}}
          {{#link-to 'about'}}ABOUT{{/link-to}}
        </div>
    </div>
  </header>
</section>
{{outlet}}
<footer class="footer">
  <div class="container">
    <h4>I have a passion for solving problems. Visual or technical, I strive to provide solutions that are intuitive, creative and competitive,  providing value to the customer and bussiness alike. Have a project?</h4>
    {{#link-to 'projects' class="button-primary inverse"}}CONTACT ME{{/link-to}}<br><br><br><br><br>
    <img class="isotype" src="images/muro-isotype-wt.png">
    <p class="cr">Copyright German Cabezas 2016</p>
  </div>
</footer>
